<h1>Detalhes da Ocorrência</h1>

<p><strong>Aluno:</strong> {{ocorrencia.aluno}}</p>

<p><strong>Turma:</strong> {{ocorrencia.turma}}</p>

<p><strong>Professor:</strong> {{ocorrencia.professor}}</p>

<p><strong>Gravidade:</strong> {{ocorrencia.gravidade}}</p>

<p><strong>Descrição:</strong> {{ocorrencia.descricao}}</p>

<br>

<a href="/ocorrencias">
    <button>Voltar</button>
</a>